// alright-sans

@font-face {
  font-family: 'alright-sans';
  src: url('../../assets/fonts/alright-sans/AlrightSans-Regular.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'alright-sans';
  src: url('../../assets/fonts/alright-sans/AlrightSans-Bold.otf');
  font-weight: bold;
  font-style: normal;
}

// tiempos

@font-face {
  font-family: 'tiempos-headline';
  src: url('../../assets/fonts/tiempos-headline/TiemposHeadline-Light.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'tiempos-headline';
  src: url('../../assets/fonts/tiempos-headline/TiemposHeadline-Bold.otf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'tiempos-headline';
  src: url('../../assets/fonts/tiempos-headline/TiemposHeadline-Medium.otf');
  font-weight: 400;
  font-style: normal;
}