// element styles and content wrappers
html {
  max-width: 600px;
}

body {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.template-top-wrapper {
  width: 100%;
  display: flex;
  flex-flow: column;
}

.template-bottom-wrapper {
  display: flex;
  flex-flow: column;
  background-color: #f7f8f9;
  width: 100%;
  height: auto;
}

.content-wrapper {
  padding-left: 7.5%;
  padding-right: 7.5%;
}

.verticle-content-wrapper {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.inner-content-left {
  height: auto;
  width: 30%;
}

.inner-content-right {
  height: auto;
  width: 70%;
  h3 {
    position: relative;
    font-size: 1.25rem;
    font-family: $font__heading_main;
    font-weight: bold;
    margin: 1rem 0;
  }
  p {
    font-family: $font__main;
    margin-top: 1rem;
    span {
      color: $color__text_orange;
    }
  }
}

a {
  text-decoration: none;
}

// body link/text style

.body-link-text {
  text-transform: uppercase;
  font-family: $font__main;
  font-size: 0.75rem;
  color: $color__text_teal;
}

.body-text {
  color: $color__text_gray;
}

// header styles

.template-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  min-height: 3rem;
  height: auto;
  max-width: 100%;
  a {
    text-decoration: none;
    color: #FF3930;
    font-size: 0.75rem;
    height: 0.75rem;
  }
}

.header-link-text {
  font-family: $font__main;
  text-decoration: none;
}

// main heading

.main-heading {
  display: flex;
  flex-flow: row nowrap;
  height: auto;
  max-width: 100%;
}

.main-heading-left {
  width: 50%;
  h1 {
    font-size: 1.75rem;
    font-family: $font__heading_main;
  }
  p {
    font-family: $font__main;
    color: $color__text_gray;
    margin: 0.25rem;
  }
}

.main-heading-right {

  width: 50%;
  img {
    width: 100%;
    height: auto;
  }
}

// hero banner section

.hero-banner-wrapper {
  display: flex;
  max-width: 100%;
  height: auto;
  img {
    align-self: flex-end;
    max-width: 100%;
    height: auto;
  }
}

// featured blog post section

.featured-blog-post {
  display: flex;
  margin: 0 7.5%;
  background-color: #FFFFFF;
  height: auto;
}

// 3 tips for action section

.action-tips {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  height: auto;
  margin-top: 1rem;
  border-bottom: 1px solid $color__border_gray;
  h2 {
    font-size: 1.5rem;
    font-family: $font__heading_main;
    font-weight: normal;
  }
  p {
    font-family: $font__main;
    text-align: center;
    margin: 1rem 0;
  }
}

.action-box {
  display: flex;
  flex-flow: row nowrap;
  background-color: #FFFFFF;
  margin-bottom: 1rem;
  border: 1px solid $color__border_gray;
  .action-content {
    font-family: $font__main;
    padding-left: 0.25rem;
    h4 {
      font-size: 0.85rem;
      font-weight: bold;
    }
    p {
      font-size: 0.75rem;
      text-align: left;
      color: $color__text_gray;
    }
    a {
      text-transform: uppercase;
      color: $color__text_teal;
      font-size: 0.75rem;
    }
  }
}

.action-image {
  display: flex;
  justify-content: center;
}

// favourite blog posts section

.fav-blog-posts {
  display: flex;
  flex-flow: column;
  align-items: center;
  h2 {
    font-size: 1.5rem;
    font-family: $font__heading_main;
    font-weight: normal;
  }
  p {
    font-family: $font__main;
    text-align: center;
    margin: 1rem 0;
  }
}

.blog-card-wrapper {
  display: flex;
  flex-flow: column nowrap;
  @include tablet {
    flex-flow: row nowrap;
    justify-content: space-between;
  }
}

.blog-card {
  display: flex;
  flex-flow: column nowrap;
  background-color: #FFFFFF;
  margin-top: 1rem;
  img {
    width: 100%;
    height: auto;
  }
  @include tablet {
    width: 48%;
  }
}

.blog-card-info {
  a {
    text-transform: uppercase;
    font-family: $font__main;
    color: $color__text_teal;
    font-size: 10px;
  }
  h3 {
    font-size: 16px;
    font-family: $font__heading_main;
    margin-top: 1rem;
  }
  p {
    font-size: 12px;
    text-align: left;
    color: $color__text_gray;
  }
}

.prefooter {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  background-color: $color__text_orange;
  color: #FFFFFF;
  text-align: center;
  p {
    font-family: $font__main;
    a {
      color: #FFFFFF;
    }
  }
}

.page-footer {
  display: flex;
  flex-flow: column nowrap;
  height: 320px;
  width: 100%;
}

.footer-top {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  width: 100%;
  border-bottom: 1px solid $color__border_gray;
}

.footer-bottom {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  height: 230px;
  padding: 1rem 0;
  span {
    display: flex;
  }
  p {
    text-align: center;
  }
}