// element styles and content wrappers
html {
  max-width: 600px;
}

body {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.template-top-wrapper {
  width: 100%;
  display: flex;
  flex-flow: column;
}

.template-bottom-wrapper {
  display: flex;
  flex-flow: column;
  background-color: #f7f8f9;
  width: 100%;
  height: auto;
}

.content-wrapper {
  padding-left: 7.5%;
  padding-right: 7.5%;
}

.verticle-content-wrapper {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.inner-content-left {
  height: auto;
  width: 30%;
}

.inner-content-right {
  height: auto;
  width: 70%;
  h3 {
    position: relative;
    font-size: 18px;
    color: #0a273c;
    font-family: $font__heading_main;
    font-weight: 400;
    margin: 1rem 0;
  }
  p {
    font-family: $font__main;
    font-size: 14px;
    margin-top: 1rem;
    span {
      a {
        color: $color__text_orange;
      }
    }
  }
  div {
    position: absolute;
    left: -84px;
    top: 50%;
    bottom: 50%;
    border-bottom: 2px solid $color__text_gray;
    width: 64px;
    @include fullWidthFooter {
      left: -112px;
    }
    @include tractionLineNarrow {
      width: 48px;
      left: -64px;
    }
  }
}

a {
  text-decoration: none;
}

// media hiders

.hidden-wide {
  display: initial;
  @include fullWidthMain {
    display: none;
  }
}

.hidden-narrow {
  display: none;
  @include fullWidthMain {
    display: initial;
  }
}

// body link/text style

.body-link-text {
  text-transform: uppercase;
  font-family: $font__main;
  font-weight: bold;
  font-size: 10px !important;
  color: $color__text_teal;
}

.body-text {
  color: $color__text_gray;
}

// hero banner section

.hero-banner-wrapper {
  display: flex;
  max-width: 100%;
  height: auto;
  img {
    align-self: flex-end;
    max-width: 100%;
    height: auto;
  }
}

// featured blog post section

.featured-blog-post {
  display: flex;
  margin: 0 7.5%;
  background-color: #FFFFFF;
  height: auto;
}

// 3 tips for action section

.action-tips {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  height: auto;
  margin-top: 1rem;
  border-bottom: 1px solid $color__border_gray;
}

.body-heading {
  font-size: 25px;
  font-family: $font__heading_text;
  font-weight: 500;
  color: #0a273c;
  text-align: center;
}

.body-sub-heading {
  font-family: $font__main;
  font-size: 14px;
  text-align: center;
  margin: 1rem 0;
}

.action-box {
  display: flex;
  flex-flow: row nowrap;
  background-color: #FFFFFF;
  margin-bottom: 1rem;
  border: 1px solid $color__border_gray;
  .action-content {
    font-family: $font__main;
    padding-left: 0.25rem;
    h4 {
      color: #0a273c;
      font-size: 0.85rem;
      font-weight: bold;
    }
    p {
      font-size: 0.75rem;
      text-align: left;
      color: $color__text_gray;
    }
    a {
      text-transform: uppercase;
      color: $color__text_teal;
      font-size: 0.75rem;
    }
  }
}

.action-image {
  display: flex;
  justify-content: center;
  @include fullWidthFooter {
    justify-content: flex-start;
  }
}

// favourite blog posts section

.fav-blog-posts {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.blog-card-wrapper {
  display: flex;
  flex-flow: column nowrap;
  @include fullWidthMain {
    flex-flow: row nowrap;
    justify-content: space-between;
  }
}

.blog-card {
  display: flex;
  flex-flow: column nowrap;
  background-color: #FFFFFF;
  margin-top: 1rem;
  img {
    width: 100%;
    height: auto;
  }
  @include fullWidthMain {
    width: 48%;
  }
}

.blog-card-info {
  padding: 10px;
  h3 {
    font-size: 16px;
    color: #0a273c;
    font-family: $font__heading_main;
    font-weight: 400;
    margin: 1rem 0;
  }
  p {
    font-size: 12px;
    font-family: $font__main;
    text-align: left;
    color: $color__text_gray;
    line-height: 18px;
  }
}

.prefooter {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 50px;
  height: auto;
  background-color: $color__text_orange;
  color: #FFFFFF;
  text-align: center;
  p {
    font-size: 14px;
    font-family: $font__main;
    font-weight: 200;
    a {
      color: #FFFFFF;
      font-weight: 600;
    }
  }
}