$font__main: 'alright-sans', sans-serif;
$font__heading_main: 'tiempos-headline', 'times-new-roman';

$color__text_gray: #bcb5b9;
$color__text_orange: #ec5447;
$color__text_teal: #60cbe2;
$color__border_gray: #ECEEF0;
